{% extends "base.html" %}
{% block title %}TicTacToe{{ super() }}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <div class="container mx-auto">
        <div class="card my-4">
            <h1 class="text-3xl">TicTacToe</h1>
        </div>
        <div class="card mb-4">
            <h2 class="text-xl mb-2">Create Game</h2>
            <form action="./create" method="POST">
                <label>
                    <input type="text" name="player_1_name" placeholder="Enter player name 1">
                </label>
                <label>
                    <input type="text" name="player_2_name" placeholder="Enter player name 2">
                </label>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="card mb-4">
            <h2 class="text-xl mb-2">Active Games</h2>
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                </tr>
                </thead>
                {% for game in games %}
                    {% if game.tictactoe.state.value == "in_progress" %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.player_1_name }}</td>
                            <td>{{ game.player_2_name }}</td>
                            <td><a class="font-bold text-blue-600" href="{{ url_for('.details', game_id=game.id) }}">Play</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="card">
            <h2 class="text-xl mb-2">Finished Games</h2>
            <table class="table-auto w-full">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Player 1</th>
                    <th>Player 2</th>
                    <th>Winner</th>
                </tr>
                </thead>
                {% for game in games %}
                    {% if game.tictactoe.state.value != "in_progress" %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.player_1_name }}</td>
                            <td>{{ game.player_2_name }}</td>
                            <td>{{ game.winner_name }}</td>
                            <td><a class="font-bold text-blue-600" href="{{ url_for('.details', game_id=game.id) }}">View</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}